﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="weatherreport.ascx.cs" Inherits="includes_dashboard_weatherreport" %>
<div class="col-md-12">
    <div class="panlenew">
        <section class="panel">
            <div class="panel-heading">
                <a href="#">Weather Report</a>
            </div>
            <div class="panel-body paddnone" id="divMain" runat="server">
                <div class="row m-n">                    
                </div>
            </div>
        </section>
    </div>
</div>
