﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error404.aspx.cs" Inherits="Error_Error404" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
     <link rel="shortcut icon" type="image/ico" href="~/admin/assets/img/favicon(2).ico" />
    <title runat="server" id="pagetitle">SavvySolar</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Page Not Found.
        </div>
    </form>
</body>
</html>
