﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="solar_system.aspx.cs" Inherits="Telerik_reports_solar_system" %>


<%--<%@ Register Assembly="Telerik.ReportViewer.WebForms, Version=12.0.18.125, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" Namespace="Telerik.ReportViewer.WebForms" TagPrefix="telerik" %>--%>
<%@ Register Assembly="Telerik.ReportViewer.WebForms, Version=11.1.17.518, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" Namespace="Telerik.ReportViewer.WebForms" TagPrefix="telerik" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>

    <form id="form1" runat="server">
        <telerik:ReportViewer ID="ReportViewer1" runat="server" Width="80%" Height="600px" ViewMode="PrintPreview"></telerik:ReportViewer>
    </form>

</body>
</html>



